//-----MIXINS-----

@mixin container-padding {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1918px) {
  body {
    #priority {
      position: relative;

      #priority-container {
        position: static;

        #priority-bg {
          left: 0;
        }
      }
    }

    #healthy {
      position: relative;


      #healthy-container {
        position: static;

        #healthy-bg {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1917px) {
  body {
    #healthy, #recipe {
      overflow: hidden;
    }

  }


}

@media screen and (max-width: 1310px) {

  #main {
    #main-container {
      @include container-padding;

      #main-image {
        position: relative !important;
        max-width: 400px;
        top: auto !important;
        right: auto !important;
        margin-left: 60px;

        img {
          width: 100%;
        }
      }
    }
  }

}

// * 1200 - 1229 *
@media screen and (max-width: 1229px) {
  body {

    #header {
      #header-container {
        @include container-padding;

        #header-info {
          #cart {
            margin-right: 0;
          }
        }
      }
    }

    #main {
      #main-container {
        @include container-padding;
      }
    }

    #priority {
      #priority-container {
        @include container-padding;
      }
    }

    #products {
      #products-container {
        @include container-padding;
      }
    }

    button.slick-prev.slick-arrow {
      left: 551px;
    }

    ul.product-dots {

    }

    button.slick-next.slick-arrow {
      right: 484px;
    }

    #healthy {
      #healthy-container {
        @include container-padding;

        #healthy-container-production {
          flex-wrap: wrap;
          justify-content: center;

          #healthy-container-production-image {
            width: 600px;
            margin: 0 20px 40px;
            text-align: center;
          }

          #healthy-container-production-block {
            width: 490px;
            background-size: 100% 100%;
            padding: 40px 30px;
            margin: 0 30px;
          }
        }
      }
    }

    #about {
      #about-container {
        @include container-padding;
      }
    }

    #recipe {
      #recipe-container {
        @include container-padding;
        max-width: 880px;

        #recipe-items {
          .recipe-block-items {
            .recipe-item {
              width: 400px;
              margin: 25px auto 0;

              .recipe-text {
                height: 90px;
              }

              .recipe-image {
                img {
                  width: 105%;

                }
              }
            }
          }
        }
      }
    }

    ul.recipe-dots {
      left: 394px;
    }

    #follow {
      #follow-container {
        @include container-padding;
      }
    }

    #footer {
      #footer-container {
        @include container-padding;
      }
    }
  }
}

// * 1024 - 1199 *
@media screen and (max-width: 1199px) {

  body {


    #main {
      #main-container {
        #main-info {
          margin-top: 100px;
          margin-bottom: 100px;
        }
      }
    }

    #healthy {
      #healthy-container {
        #healthy-container-info {
          flex-wrap: wrap;
          justify-content: center;
          text-align: center;
          margin-top: 90px;

          #healthy-container-info-left {
            width: 600px;
          }

          #healthy-container-info-right {
            width: 600px;
            margin-left: 0;
            margin-top: 40px;
          }
        }
      }
    }

    #products {
      #products-container {
        max-width: 994px;

        #products-items {


          .product-item {
            width: 240px;
            padding: 20px 20px 35px;

            .product-item-image {
              height: 160px;

              img {
                width: 80%;
              }
            }

            .product-item-title {
              font-size: 18px;
              margin: 0;
            }

            .product-item-weight {
              font-size: 14px;
            }

            .product-item-description {
              font-size: 14px;
              margin-top: 10px;
            }

            .product-item-price {
              font-size: 20px;
              margin-top: 15px;
            }

            .product-item-action {
              .product-btn {
                width: 160px;
                font-size: 14px;
              }
            }

            .product-item-details {
              margin-top: 20px;

              span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    button.slick-prev.slick-arrow {
      left: 447px;
    }

    ul.product-dots {

    }

    button.slick-next.slick-arrow {
      right: 381px;
    }

    #about {
      #about-container {
        #about-info {
          width: 980px;
        }
      }
    }

    #follow {
      #follow-container {
        justify-content: center;

        #follow-image {
          margin: 0;
        }

        #follow-items {
          margin-right: 0;
          margin-left: 100px;
        }

      }
    }


    #footer {
      #footer-container {
        justify-content: space-between;

        #footer-nav {
          margin: 0;
        }

        #footer-contacts {
          margin: 0;
        }
      }
    }
  }
}

//* 768 - 1023 *
@media screen and (max-width: 1023px) {
  body {
    #main {
      #main-container {
        #main-info {
          #main-info-title {
            font-size: 42px;
            line-height: 47px;
          }
        }
      }
    }

    #priority {
      #priority-container {
        padding-top: 100px;
        padding-bottom: 100px;

        #priority-bg {
          display: none;
        }

        #priority-items {
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 50px;

          .priority-item {
            margin: 20px;
          }
        }

        #priority-proof {
          margin-top: 60px;
        }

      }
    }


    #healthy {
      #healthy-container {
        #healthy-container-items {
          .healthy-container-item {
            width: 210px;
          }
        }
      }
    }

    #products {
      #products-container {
        max-width: 738px;
      }
    }

    button.slick-prev.slick-arrow {
      left: 319px;
    }

    ul.product-dots {

    }

    button.slick-next.slick-arrow {
      right: 225px;
    }

    #about {
      #about-container {

        #about-items-container {
          width: 728px;
          margin: 0 auto;
          position: relative;

          #about-items-image {
            display: none;
          }

          #about-items {
            background-image: url("../images/about-fig-min.png");
            background-repeat: no-repeat;
            background-position: center bottom;

            .about-item.right {
              .about-item-image {
                order: 2;
              }

              .about-item-image {
                width: 200px;
                height: 200px;

                img {
                  width: 100%;
                }

              }

              .about-item-text {
                order: 1;
                width: 300px;
              }
            }

            .about-item {
              .about-item-text {
                width: 300px;
              }

              .about-item-image {
                width: 200px;
                height: 200px;

                img {
                  width: 100%;
                }

              }
            }
          }

        }

        #about-info {
          background-image: url("../images/about-rolling-pin.png");
          width: 720px;
          background-size: 100% 100%;
          padding: 40px 50px 50px;
        }


      }
    }


    #recipe {
      #recipe-container {
        #recipe-bg1 {
          right: -188px;
        }

        h2.block-title {
          margin-top: 80px;
        }

        #recipe-pagination {
          margin-bottom: 80px;
        }
      }


    }


    #follow {
      #follow-container {
        flex-direction: column;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;

        #follow-items {
          margin-left: 0;
          margin-top: 30px;

          #follow-items-title {
            margin: 0 auto;
            text-align: center;
          }

          #follow-items-social {
            text-align: center;
          }
        }
      }
    }

    #products-cards-popup {
      .products-card {
        .product-card-container {
          padding: 45px 20px;
          width: 432px;
          margin: 40px auto;

          .products-block {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .product-card-image {
              width: 200px;
              height: 145px;
            }

            .product-card-info {
              text-align: center;
              width: 350px;

              .product-card-info-title {
                font-size: 27px;
                margin-top: 20px;
              }

              .product-card-info-actions {
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 20px;

                .product-card-info-actions-count {
                  order: 2;
                }

                .product-card-info-actions-price {
                  margin: 0 0 20px 0;
                  width: 290px;
                  order: 1;
                }

                .product-card-info-actions-btn {
                  order: 3;
                  margin-left: 25px;
                }
              }
            }

            .product-card-specifications {
              margin-top: 30px;
            }

            .product-card-delivery {
              margin-top: 30px;
              background-size: 100% 100%;
              width: 390px;
              padding: 30px 10px;
              font-size: 15px;
              height: auto;

              .product-card-delivery-text {
                p {
                  width: 350px;
                }

                .product-card-delivery-text-min-time {
                  margin: 20px auto;
                }
              }
            }
          }
        }
      }
    }

    .shopping-cart {
      #shopping-cart-container {
        width: 730px;
        padding: 60px 30px;

        #shopping-cart-items {
          width: auto;

          #shopping-cart-item-cover {
            .shopping-cart-item {
              width: auto;

              .shopping-cart-item-description {
                width: 140px;
              }

              .action-block {
                margin-left: 20px;
              }
            }
          }
        }

        #shopping-cart-info {
          .shopping-cart-delivery {
            width: 420px;

            .shopping-cart-delivery-text {
              p {
                width: 330px;
                font-size: 14px;
              }
            }
          }

          .shopping-cart-purchases {
          }
        }
      }
    }

    #forma {
      #forma-container {
        width: 570px;
        grid-template-columns: 450px;
        justify-content: center;
        padding: 90px 30px 40px;

        #form {
          #form-title {
            text-align: center;
          }

        }

        .purchases {
          margin: 30px auto 0;
        }

        .product-card-delivery {
          margin: 30px auto 0;
        }
      }
    }

  }
}

// * 881 *
@media screen and (max-width: 881px) {
  body {
    #header {
      #header-container {
        #header-info {

          #cart {
            margin: 0;
          }

          #header-phone {
            display: none;
          }
        }
      }
    }



    #recipe {
      #recipe-container {
        @include container-padding;
        max-width: 600px;
        h2.block-title {
          font-size: 30px;
        }
        #recipe-items {
          width: 500px;
          margin: 45px auto 0;
        }

        #recipe-pagination {
          width: 192px;
        }
      }
    }

    ul.recipe-dots {
      left: 190px;
    }
    #call{
      #call-container {
        width: 290px;
        .call-thanks {
          font-size: 16px;
        }
        #call-container-title {
          font-size: 25px;
        }
        #call-container-info {
          label {
            font-size: 16px;
          }
          input {
            width: 200px;
          }
        }
        #call-container-action {
          button {
            font-size: 14px;
            width: 150px;
          }
        }
      }
    }
  }
}

//  *  425 - 767  *

@media screen and (max-width: 767px) {
  body {

    #header {
      #header-container {
        flex-wrap: wrap;
        justify-content: center;

        #header-logo {
          order: 1;
          margin-left: 80px;

        }

        #header-info {
          order: 2;
          flex-grow: 0;
          justify-content: normal;
          margin-left: 38px;
          margin-right: 93px;
        }

        #header-menu {
          order: 3;
          margin: 40px 0 0 0;

          a {
            margin: 0 20px;
          }
        }
      }
    }

    #main {
      #main-container {
        flex-direction: column;

        #main-image {
          order: 1;
          margin-top: 30px;
          margin-left: 0;
          max-width: 350px;
        }

        #main-info {
          order: 2;
          width: 395px;
          text-align: center;
          margin-top: 30px;
          margin-bottom: 60px;

          #main-info-title {
            font-size: 39px;
          }
        }

      }
    }

    #products {
      #products-container {
        max-width: 530px;
      }
    }

    button.slick-prev.slick-arrow {
      left: 159px;
    }

    ul.product-dots {
      left: 194px;
    }

    button.slick-next.slick-arrow {
      right: 150px;
    }

    #healthy {
      #healthy-container {
        max-width: 730px;
        padding-top: 60px;
        padding-bottom: 60px;

        #healthy-bg {
          width: 200px;
          right: -105px;
        }

        #healthy-container-info {
          margin-top: 60px;

          #healthy-container-info-left {
            #read-more {
              display: block;
            }

            .hide-block {
              display: none;
              width: 400px;
              text-align: center;
              margin-left: auto;
              margin-right: auto;
              line-height: 1.313;
            }

            //#hide-text2 {
            //  display: none;
            //}
            .healthy-container-info-text {
              max-width: 395px;
              margin-left: auto;
              margin-right: auto;
            }

            #healthy-text-hide {
              display: none;
            }
          }

          #healthy-container-info-right {
            display: none;
            width: 395px;
          }
        }

        #healthy-container-items {
          flex-direction: column;
          align-items: center;
          margin-top: 60px;

          .healthy-container-item {
            margin: 15px 0;
            display: flex;
            width: 395px;
            align-items: center;
            justify-content: space-between;

            .healthy-container-item-image {
              margin-bottom: 0;
            }

            .healthy-container-item-text {
              margin-left: 20px;
              text-align: left;
            }
          }
        }

        #healthy-container-production {
          margin-top: 60px;

          #healthy-container-production-image {
            max-width: 486px;
            margin-left: 0;
            margin-right: 0;

            img {
              width: 100%;
            }
          }

          #healthy-container-production-block {
            background-size: 100% 100%;
            padding: 30px 20px;
            height: auto;
            margin-right: 0;
            margin-left: 0;
          }
        }
      }
    }

    #about {
      #about-container {
        padding-top: 80px;
        padding-bottom: 80px;

        #about-items-container {
          max-width: 395px;

          #about-items-image {
            display: none;
          }

          #about-items {
            background-image: url("../images/about-line.png");
            background-repeat: no-repeat;
            background-position: center;
            max-width: 395px;
            margin-top: 60px;

            .about-item {
              justify-content: flex-start;
              width: 390px;
              height: 150px;
              margin: 50px 0;

              .about-item-text {
                width: 250px;
              }

              .about-item-image {
                width: 120px;
                height: 120px;
                margin-right: 20px;

                img {
                  width: 100%
                }
              }
            }

            .about-item.right {
              .about-item-text {
                width: 250px;
              }

              .about-item-image {
                width: 120px;
                height: 120px;
                margin-left: 20px;
                margin-right: 0;

                img {
                  width: 100%
                }
              }
            }
          }
        }

        #about-info {
          background-image: url("../images/rolling-pin-about-adapt.png");
          width: 395px;
        }
      }
    }

    #recipe {
      #recipe-container {
        max-width: 425px;

        #recipe-bg1 {
          display: none;
        }

        #recipe-bg2 {
          display: none;
        }

        h2.block-title {
          font-size: 30px;
        }

        #recipe-items {
          width: 395px;

          .recipe-block-items {

            .recipe-item {
              height: 220px;
              width: auto;
              margin: 25px 25px;

              .recipe-text {
                padding: 10px;
                height: 70px;
              }

            }
          }
        }

        #recipe-pagination {
          margin-top: 0;
        }

      }
    }

    ul.recipe-dots {
      bottom: -49px;
      left: 138px;
    }

    #follow {
      #follow-container {
        #follow-image {
          width: 370px;
          height: 370px;

          img {
            width: 96%;
          }
        }

        #follow-items {
          #follow-items-form {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #email-error {
              font-size: 16px;
              left: 100px;
              top: 50px;
            }

            #follow-items-form-input {
              margin: 0;
            }

            #follow-items-form-button {
              margin-top: 25px;

              button.btn {
                width: 279px;
              }
            }
          }
        }
      }
    }

    #up {
      display: flex;
    }

    #footer-container {

    }

    #recipe-block-popup {
      .recipe-popup {
        .recipe-popup-container {
          width: 425px;
          padding: 50px 15px 40px;

          .recipe-popup-container-title {
            width: 360px;
            font-size: 20px;
          }
        }
      }
    }

    .shopping-cart {
      #shopping-cart-container {
        width: 100%;
        border-radius: 0;

        #shopping-cart-title {
          text-align: center;
          font-size: 24px;
        }

        #shopping-cart-items {
          #shopping-cart-item-cover {
            .shopping-cart-item {
              justify-content: flex-start;
              flex-wrap: wrap;
              height: auto;
              padding: 20px 0;

              .shopping-cart-item-images {
                width: 90px;
                height: 70px;
              }

              .shopping-cart-item-description {
                margin-left: 20px;
                font-size: 18px;
              }

              .action-block {
                .shopping-cart-item-price {
                  margin-left: 15px;
                }

                .shopping-cart-item-action {
                  justify-content: flex-end;
                  margin-left: 20px;

                  span {
                    display: none;
                  }
                }
              }
            }
          }
        }

        #shopping-cart-info {
          flex-direction: column;
          align-items: center;

          .shopping-cart-purchases {
            order: 1;
            text-align: center;
            margin-left: 0;

            .shopping-cart-free-delivery {
              width: auto;

            }
          }

          .shopping-cart-delivery {
            order: 2;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

// * 720 *

@media screen and (max-width: 720px) {
  body {
    #footer {
      #footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;

        #footer-info {
          #footer-social {
            display: none;
          }

          #rules {
            display: none;
          }
        }

        #footer-nav {
          text-align: center;
          margin-top: 35px;
        }

        #footer-contacts {
          margin-top: 35px;
          text-align: center;

          #footer-contacts-action {
            display: block;

            button {
              border-width: 1px;
              border-color: rgb(247, 195, 94);
              border-style: solid;
              width: 178px;
              padding: 13px 0 16px;
              text-align: center;
              font-size: 16px;
              font-family: $Lato;
              color: rgb(55, 29, 3);
              border-radius: 30px;
              background: transparent;

              &:hover {
                cursor: pointer;
                transition-property: background-color, box-shadow;
                transition-duration: 0.15s;
                transition-timing-function: ease-out;
                background-color: rgba(247, 195, 94, 0.35);
                box-shadow: 0px 2px 9px 5px rgba(247, 195, 94, 0.35);

              }
            }

          }

          #footer-contacts-time {
            margin-top: 25px;
          }

          #footer-contacts-phone {
            margin: 20px 0 15px 0;
          }
        }

        #social-rules-adapt {
          display: block;
          margin-top: 40px;

          #adapt-footer-social-title {
            font-size: 16px;
            font-family: $Gabriela;
            color: rgb(34, 34, 34);
            text-align: center;
          }

          #adapt-footer-social-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 35px;

            a {
              text-decoration: none;
            }
          }

          #adapt-rules {
            margin-top: 35px;
            font-size: 12px;
            font-family: $Lato;
            color: rgb(111, 111, 111);
          }
        }
      }
    }
  }
}


// * 620 *

@media screen and (max-width: 620px) {
  body {

    .shopping-cart {
      #shopping-cart-container {
        padding: 45px 15px 40px;

        #shopping-cart-items {
          width: auto;
          padding: 0 20px;
          margin: 20px auto 0 auto;

          #shopping-cart-item-cover {
            .shopping-cart-item {
              justify-content: center;
              flex-wrap: wrap;
              height: auto;
              padding: 20px 0;

              .shopping-cart-item-images {
                width: 60px;
                height: 40px;
              }

              .shopping-cart-item-description {
                font-size: 16px;
              }

              .action-block {
                margin-top: 0;
                margin-left: 0;
                justify-content: center;

                .shopping-cart-item-price {
                  margin-left: 15px;
                }

                .shopping-cart-item-action {
                  justify-content: flex-end;
                  margin-left: 38px;

                  span {
                    display: none;
                  }
                }
              }
            }
          }
        }

        #shopping-cart-info {
          flex-direction: column;
          align-items: center;

          .shopping-cart-purchases {
            order: 1;
            text-align: center;
            margin-left: 0;

            .shopping-cart-free-delivery {
              width: auto;
              font-size: 12px;

            }
          }

          .shopping-cart-delivery {
            background-image: url("../images/shoping-cart-adapt-rolling-pin.png");
            order: 2;
            margin-top: 20px;
            width: 290px;
            padding: 25px 15px 35px;
            height: auto;

            .shopping-cart-delivery-text {
              p {
                width: 253px;
              }
            }
          }
        }
      }
    }

    #form-cong {
      #form-cong-container {
        width: 290px;
        margin: 220px auto;
        padding: 45px 0px 35px;

        .form-cong-container-close {
          position: absolute;
          top: 20px;
          right: 15px;
        }

        .form-cong-container-text {
          font-size: 18px;
          margin: 20px;
        }

      }
    }

  }
}

// * 589

@media screen and (max-width: 589px) {
  body {

    #forma {
      #forma-container {
        width: 100%;
        border-radius: 0;
        grid-template-columns: 290px;
        padding: 90px 15px 35px;

        #back-to-cart {
          top: 30px;
          left: 10px;
        }

        .forma-popup-container-close {
          top: 20px;
          right: 15px;
        }

        #form {
          width: auto;

          #form-title {
            font-size: 24px;
          }

          form {
            #form-container-delivery {
              .form-container-title {
                font-size: 16px;
              }

              label {
                font-size: 12px;
              }

              .form-radio {
                label {
                  font-size: 14px;
                }
              }
            }

            #form-container-person-data {
              input[type=text] {
                width: 290px;
              }
            }

            #form-container-comments {
              textarea {
                width: 290px;
              }
            }
          }
        }

        .purchases {
          width: 290px;
          padding: 30px 20px;
          height: auto;

          .purchases-item-style {
            font-size: 14px;


            span {
              font-size: 18px;
            }
          }

          #purchases-action-btn {
            width: 250px;
            font-size: 14px;
            margin: 0;
          }

          .free-delivery {
            font-size: 12px;
            width: 160px;
          }
        }

        .product-card-delivery {
          background-image: url("../images/zakaz-adaptiv-rolling-pin.png");
          height: auto;
          width: 290px;
          padding: 25px 15px 35px;

          .product-card-delivery-text {
            p {
              font-size: 14px;
              width: 212px;

              &:first-child {
                margin-bottom: 20px;
              }
            }

            .product-card-delivery-text-min-time {
              width: 255px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }

  }
}

// * 534

@media screen and (max-width: 534px) {
  body {

    .shopping-cart {
      #shopping-cart-container {
        #shopping-cart-items {
          #shopping-cart-item-cover {
            .shopping-cart-item {
              .action-block {
                margin-top: 30px;
              }
            }
          }
        }
      }
    }

  }
}

// * 530 *

@media screen and (max-width: 530px) {
  body {
    #products {
      #products-container {
        padding-top: 60px;
        padding-bottom: 130px;
        max-width: 300px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;

        h2.block-title {
          font-size: 24px;
          margin-bottom: 40px;
        }

        #products-items {
          margin-left: auto;
          margin-right: auto;

          .product-item {
            width: 140px;
            padding: 10px 10px 35px;

            .product-item-image {
              height: 108px;

              img {
                width: 80%;
              }
            }

            .product-item-title {
              font-size: 16px;
              margin: 0;
            }

            .product-item-weight {
              font-size: 12px;
            }

            .product-item-description {
              font-size: 12px;
              margin-top: 10px;
            }

            .product-item-price {
              font-size: 18px;
              margin-top: 15px;
            }


            .product-btn {
              width: 120px;
              font-size: 12px;
              padding: 15px 15px 15px 40px;

              &::before {
                width: 17px;
                height: 17px;
                left: 20px;
                top: 14px;
              }
            }

            .product-btn.active {
              padding: 15px;
            }

            .product-item-details {
              margin-top: 20px;

              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    button.slick-prev.slick-arrow {
      left: 60px;
    }

    ul.product-dots {
      left: 95px;
    }

    button.slick-next.slick-arrow {
      right: 49px;
    }
  }
}

// * 459 *

@media screen and (max-width: 459px) {
  body {
    #products-cards-popup {
      .products-card {
        .product-card-container {
          padding: 65px 15px 35px;
          width: 100%;
          margin: 40px auto;
          border-radius: 0;

          .products-block {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .product-card-image {
              width: 135px;
              height: auto;
            }

            .product-card-info {
              text-align: center;
              width: 290px;

              .product-card-info-title {
                font-size: 18px;
                margin-top: 20px;
              }

              .product-card-info-composition {
                width: 290px;

                .product-card-info-composition-title {
                  font-size: 16px;
                  margin-top: 15px;
                }

                .product-card-info-composition-text {
                  font-size: 14px;
                }
              }

              .product-card-info-actions {
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 20px;

                .product-card-info-actions-count {
                  order: 2;
                }

                .product-card-info-actions-price {
                  margin: 0 0 20px 0;
                  width: 290px;
                  order: 1;
                }

                .product-card-info-actions-btn {
                  font-size: 12px;
                  width: 144px;
                  order: 3;
                  margin-left: 25px;

                  .in-cart-btn {
                    font-size: 12px;
                    width: 144px;
                    padding: 15px 15px 15px 45px;
                    &::before {
                      left: 30px;
                      top: 12px;
                    }
                  }

                  .in-cart-btn.active {
                    font-size: 12px;
                    width: 144px;
                    padding: 15px;
                  }
                }
              }
            }

            .product-card-specifications {
              margin-top: 30px;
              width: 290px;
              text-align: center;
              padding: 15px;

              .product-card-specifications-title {
                font-size: 16px;
              }

              .product-card-specifications-table {
                table {
                  margin-bottom: 15px;

                  tr {
                    .table-title {
                      font-size: 14px;
                      padding-top: 10px;
                      padding-bottom: 15px;
                      text-align: center;
                    }

                    td {
                      text-align: left;
                      font-size: 14px;
                      line-height: 18px;
                    }
                  }
                }
              }

              .product-card-specifications-text {
                font-size: 14px;
                margin-top: 5px;
              }
            }

            .product-card-delivery {
              background-image: url("../images/prod-card-adapt-rolling-pin.png");
              margin-top: 30px;
              background-size: 100% 100%;
              width: 290px;
              padding: 35px 15px;
              font-size: 15px;
              height: auto;

              .product-card-delivery-text {

                p {
                  font-size: 14px;
                  width: 255px;
                  margin: 0 auto;
                  text-align: center;

                  .pcd-time {
                    display: block;
                  }
                }

                .product-card-delivery-text-min-time {
                  margin: 20px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

// * 439  *

@media screen and (max-width: 439px) {
  body {
    #recipe-block-popup {
      .recipe-popup {
        .recipe-popup-container {
          width: 100%;
          border-radius: 0;
          padding: 50px 15px 40px;

          .recipe-popup-container-close {
            top: 20px;
            right: 15px;
          }

          .recipe-popup-container-title {
            width: 300px;
            font-size: 18px;
            margin: 0 auto;
          }

          .recipe-popup-container-ingrid {
            align-items: flex-start;
            justify-content: center;

            .recipe-popup-container-ingrid-image {
              width: 134px;
              height: auto;
              margin-top: 8px;
            }

            .recipe-popup-container-ingrid-items {
              font-size: 14px;
              line-height: 30px;

              ul {
                li {
                  font-size: 12px;
                  line-height: 25px;
                }
              }
            }
          }

          .recipe-popup-container-coocking {
            font-size: 14px;
            margin: 14px auto 0 auto;
            width: 290px;
          }

          .recipe-popup-container-coocking-text {
            margin: 12px auto 0 auto;
            max-width: 290px;
            font-size: 14px;
          }
        }
      }
    }
  }


}

//* 320 - 425 *
@media screen and (max-width: 424px) {
  body {
    #header {
      #header-container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        #header-logo {
          order: 1;
          margin-left: 0;
          width: 78px;

          a {
            img {
              width: 100%;
            }
          }
        }

        #header-info {
          order: 2;
          margin: 0;
        }

        #header-menu {
          display: none;
        }

        #header-burger {
          display: block;
          order: 3;
        }
      }
    }

    #main {
      #main-container {
        #main-image {
          max-width: 260px;
        }

        #main-info {
          width: 290px;
          margin-bottom: 60px;

          #main-info-title {
            font-size: 28px;
            line-height: 30px;
          }

          #main-info-text {
            margin-top: 25px;
            font-size: 12px;
          }

          #main-info-action {
            a {
              #main-btn {
                margin-top: 30px;
              }
            }
          }
        }
      }
    }

    #priority {
      #priority-container {
        padding-top: 55px;
        padding-bottom: 60px;

        h2.block-title {
          font-size: 24px;
        }

        #priority-items {
          margin: 0;

          .priority-item {
            margin: 35px 0 0 0;
            text-align: left;
            width: 290px;

            .priority-item-title {
              span {
                font-size: 18px;
              }
            }

            .priority-item-text {
              font-size: 12px;
            }

          }
        }

        #priority-proof {
          background-image: url("../images/prior-adapt-rolling-pin.png");
          width: 290px;
          padding: 25px 14px;
          margin-top: 30px;

          #priority-proof-text {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }

    #healthy {
      #healthy-container {
        #healthy-bg {
          right: -100px;
          top: -8px;
        }

        .block-title {
          font-size: 24px;
        }

        #healthy-container-info {
          margin-top: 20px;

          #healthy-container-info-left {
            width: 290px;

            .hide-block {
              font-size: 14px;
              width: 290px;
            }

            .healthy-container-info-text {
              width: 290px;
              font-size: 14px;
            }

            #read-more {
              span {
                font-size: 14px;
              }
            }

          }

          #healthy-container-info-right {
            width: 290px;

            .healthy-container-info-text {
              width: 290px;
              font-size: 14px;
              text-align: center;
            }
          }
        }

        #healthy-container-items {
          .healthy-container-item {
            width: 290px;

            .healthy-container-item-text {
              font-size: 12px;
              text-align: left;
            }
          }
        }

        #healthy-container-production {
          #healthy-container-production-image {
            width: 290px;
            height: 238px;
            background-image: url("../images/healthy-card-img.png");
            background-repeat: no-repeat;

            img {
              display: none;
            }
          }

          #healthy-container-production-block {
            background-image: url("../images/healthy-rolling-pin-min-adapt.png");
            width: 290px;
            padding: 25px 21px 30px;

            #healthy-container-production-text1 {
              font-size: 14px;
            }

            #healthy-container-production-text2 {
              font-size: 14px;
            }
          }
        }
      }
    }

    #about {
      #about-container {
        padding: 60px 15px;

        .block-title {
          font-size: 35px;
        }

        #about-items-container {
          max-width: 290px;

          #about-items {
            max-width: 290px;
            margin: 0;

            .about-item {
              width: 290px;

              .about-item-text {
                font-size: 12px;
                width: 210px;
              }
            }

            .about-item.right {
              .about-item-text {
                font-size: 12px;
                width: 210px;
              }
            }
          }
        }

        #about-info {
          background-image: url("../images/about-info-320-rolling-pin.png");
          width: 290px;
          padding: 30px 20px;

          .about-info-text {
            font-size: 12px;
          }

          #about-info-loz {
            font-size: 12px;
            margin-top: 15px;
          }
        }
      }
    }

    #recipe {
      #recipe-container {
        max-width: 320px;
        padding: 0;

        h2.block-title {
          font-size: 24px;
          margin-top: 60px;
        }

        #recipe-items {
          margin-top: 20px;

          .recipe-block-items {
            width: 320px;

            .recipe-item {
              margin: 40px 17px 0;
              width: 290px;
              height: 270px;

              .recipe-image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;

                img {
                  width: 150%;

                }
              }

              .recipe-text {
                font-size: 16px;
              }
            }
          }
        }

        #recipe-pagination {
          margin-top: 40px;
          margin-bottom: 60px;
        }
      }
    }

    ul.recipe-dots {
      left: 100px;
      bottom: -90px;
    }

    #follow {
      #follow-container {
        #follow-image {
          width: 225px;
          height: 225px;
        }

        #follow-items {
          #follow-items-title {
            font-size: 18px;
            width: 290px;
          }

          #follow-items-form {
            #email-error {
              left: 47px;
              top: 50px;
            }

            #follow-items-form-input {
              width: 290px;
            }

            #follow-items-form-button {
              margin-top: 20px;

              button.btn {
                width: 290px;
              }

            }
          }

          #follow-items-social {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
              width: 40px;
              height: 40px;
              margin: 0;

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .ymaps-2-1-79-balloon__close + .ymaps-2-1-79-balloon__content{
      padding: 12px;
     }

    #map {
      height: 270px;
    }

    .ymaps-2-1-79-events-pane.ymaps-2-1-79-user-selection-none {
      background: none;
    }

  }
}


