@font-face {
  font-family: 'Gabriela' ;
  src: url("../../fonts/Gabriela.ttf");
}

@font-face {
  font-family: 'LatoBold' ;
  src: url("../../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: 'LatoLight' ;
  src: url("../../fonts/Lato-Light.ttf");
}

@font-face {
  font-family: 'LatoRegular' ;
  src: url("../../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: 'NexaScript' ;
  src: url("../../fonts/NexaScriptHeavy.ttf");
}

@font-face {
  font-family: 'TenorSans' ;
  src: url("../../fonts/tenorSans.ttf");
}

//--- Variables ---

$Gabriela: "Gabriela", sans-serif;
$LatoLight: "LatoLight", sans-serif;
$Lato: "LatoRegular", sans-serif;
$LatoBold: 'LatoBold', sans-serif;


//--- MIXINS ---
@mixin container {
  width: 1200px;
  margin: 0 auto;
}

@mixin infoText {
  width: 590px;
  font-size: 16px;
  font-family: $LatoLight;
  color: rgb(34, 34, 34);
  line-height: 1.313;
}

@mixin social-items {
  a {
    text-decoration: none;

    img {
      vertical-align: middle;
    }

    &:hover {
      opacity: 0.9;
    }

    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}

@mixin phone {
  span {
    font-size: 16px;
    font-family: $Lato;
    color: rgb(34, 34, 34);
  }

  img {
    margin-right: 10px;
    vertical-align: middle;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header-container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;

  #header-nav {
    display: flex;
    align-items: center;

    #header-logo {
      margin-right: 62px;
    }

    #header-menu {
      a {
        text-decoration: none;
        font-size: 16px;
        font-family: $Lato;
        color: rgb(34, 34, 34);
        margin: 0 25px;
      }

    }
  }

  #header-info {
    display: flex;
    align-items: center;

    #cart {
      display: flex;
      align-items: center;
      margin: 0 20px 0 53px;

      #cart-count {
        margin-left: 10px;
        font-size: 14px;
        font-family: $Lato;
        color: rgb(34, 34, 34);
      }
    }

    #header-phone {
      @include phone;
    }
  }
}

#main {
  background: url("../../images/main-bg.png");

  #main-container {
    @include container;
    position: relative;
    display: flex;
    align-items: center;

    #main-image {
      position: absolute;
      top: 32px;
      right: -40px;
    }

    #main-info {
      width: 605px;
      margin-top: 177px;
      margin-bottom: 147px;

      #main-info-title {
        font-size: 60px;
        font-family: $Gabriela;
        color: rgb(175, 95, 17);
        line-height: 65px;
      }

      #main-info-text {
        font-size: 18px;
        font-family: $LatoLight;
        color: rgb(34, 34, 34);
        margin-top: 37px;
      }

      #main-info-action {
        #main-btn {
          background-color: rgb(247, 195, 94);
          width: 282px;
          font-size: 20px;
          font-family: $Lato;
          text-align: center;
          padding: 20px;
          border: none;
          border-radius: 40px;
          margin-top: 60px;

          &:hover {
            box-shadow: 0px 2px 9px 5px rgba(110, 81, 22, 0.35);
            cursor: pointer;
          }
        }
      }
    }
  }
}

.block-title {
  font-size: 35px;
  font-family: $Gabriela;
  color: rgb(175, 95, 17);
}

#priority-container {
  @include container;
  position: relative;
  padding: 120px 0;

  #priority-bg {
    position: absolute;
    left: -389px;
    top: 0;
    height: 100%;
  }

  h2.block-title {
    text-align: center;

  }

  #priority-items {
    margin-top: 78px;
    display: flex;
    justify-content: space-evenly;
    position: relative;

    .priority-item {
      width: 260px;

      .priority-item-title {
        font-size: 18px;
        font-family: $Gabriela;
        color: rgb(34, 34, 34);

        span {
          vertical-align: middle;
        }

        img {
          vertical-align: middle;
          margin-right: 20px;
        }
      }
    }

    .priority-item-text {
      font-size: 14px;
      font-family: $LatoLight;
      color: rgb(34, 34, 34);
      margin-top: 20px;
      line-height: 21px;
    }
  }

  #priority-proof {
    background-image: url("../../images/rolling-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 80px auto 0 auto;
    width: 385px;
    height: 151px;
    padding: 28px 30px 30px 30px;

    #priority-proof-text {
      font-size: 16px;
      font-family: $LatoLight;
      color: rgb(34, 34, 34);
      line-height: 24px;
      text-align: center;
    }
  }
}

.btn {
  font-size: 16px;
  color: rgb(55, 29, 3);
  background-color: rgb(247, 195, 94);
  border: none;
  border-radius: 30px;
  cursor: pointer;

}


#products {
  background-image: url("../../images/products-bg.png");
  background-position: center;

  #products-container {
    @include container;
    padding: 120px 0 182px 0;

    h2.block-title {
      text-align: center;
      margin-bottom: 79px;
      color: #af6012;
    }

    #products-items {
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //flex-wrap: wrap;
      margin: 0 auto;
      text-align: center;
      width: 500px;

      .product-cart {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .product-item {
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        width: 290px;
        padding: 40px 50px;
        margin: 12px;

        &:hover {
          box-shadow: 0px 4px 10px 5px rgba(107, 77, 18, 0.3);
        }

        .product-item-image {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          height: 151px;

          img {
            width: 100%;
          }
        }

        .product-item-title {
          font-size: 24px;
          font-family: $Gabriela;
          color: rgb(67, 67, 67);
          text-align: center;
          margin-top: 25px;
        }

        .product-item-weight {
          font-size: 18px;
          font-family: $Gabriela;
          color: rgb(67, 67, 67);
          text-align: center;
          margin-top: 15px;
        }

        .product-item-description {
          font-size: 16px;
          font-family: $LatoLight;
          color: rgb(34, 34, 34);
          text-align: center;
          margin-top: 20px;
          height: 40px;
        }

        .product-item-price {
          font-size: 18px;
          font-family: $LatoBold;
          color: rgb(175, 96, 18);
          text-align: center;
          margin-top: 24px;
        }

        .btn {
          padding: 12px;
          text-align: center;
          width: 180px;
          font-family: $LatoBold;
          margin-top: 12px;

          &:hover {
            box-shadow: 0px 2px 9px 5px rgba(110, 81, 22, 0.35);
            cursor: pointer;
          }


          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            vertical-align: middle;
          }

          span {
            vertical-align: middle;
          }

        }

        .product-item-details {
          font-size: 16px;
          font-family: "Lato";
          color: rgb(34, 34, 34);
          text-align: center;
          margin-top: 30px;
          cursor: pointer;

          span {
            margin-right: 10px;
          }


        }


      }

    }

  }
}

.slick-slide img {
  display: inline;
}

button.slick-next.slick-arrow {
  position: absolute;
  bottom: -77px;
  right: 113px;
  background: transparent;
  width: 35px;
  height: 48px;
  border: 1px solid #cfc1b1;
  cursor: pointer;
  border-radius: 0 25px 25px 0;

  &::before {
    content: url("../../images/next.png");
  }
}

button.slick-prev.slick-arrow {
  position: absolute;
  bottom: -77px;
  left: 113px;
  background: transparent;
  width: 35px;
  height: 48px;
  border: 1px solid #cfc1b1;
  border-right: none;
  border-radius: 25px 0 0 25px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;

  &::before {
    content: url("../../images/prev.png");
    text-align: center;
    vertical-align: middle;
  }
}

ul.slick-dots {
  display: inline-flex;
  list-style: none;
  border: 1px solid #cfc1b1;
  padding: 5px;
  position: absolute;
  bottom: -77px;
  left: 147px;

}

ul li button {
  margin: 10px 10px;
  border: none;
  background: transparent;
  font-family: $LatoBold;
  color: #434343;
  cursor: pointer;
}

ul li.slick-active button {
  color: #af6012;
}


#healthy-container {
  @include container;
  position: relative;
  padding: 120px 0;

  h2.block-title {
    text-align: center;
    color: #af6012;
  }

  #healthy-bg {
    position: absolute;
    top: 0;
    right: -351px;
  }

  #healthy-container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 103px;

    #healthy-container-info-left {
      #txt-top {
        margin-bottom: 20px;
      }

      .healthy-container-info-text {
        @include infoText;
      }
    }
  }


  #healthy-container-info-right {
    @include infoText;
    margin-left: 25px;
  }

  #healthy-container-items {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 87px;

    .healthy-container-item {
      width: 279px;
      text-align: center;

      .healthy-container-item-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }

      .healthy-container-item-text {
        font-size: 16px;
        font-family: $LatoLight;
        color: rgb(34, 34, 34);
        line-height: 1.313;
        text-align: center;
      }
    }
  }

  #healthy-container-production {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

    #healthy-container-production-image {
      width: 487px;
    }

    #healthy-container-production-block {
      background-image: url("../../images/rolling-p.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: 690px;
      height: 245px;
      padding: 68px 30px;
      text-align: center;

      #healthy-container-production-text1 {
        font-size: 16px;
        font-family: $LatoLight;
        color: rgb(34, 34, 34);
        line-height: 1.313;
        margin-bottom: 20px;
      }

      #healthy-container-production-text2 {
        font-size: 16px;
        font-family: $LatoLight;
        color: rgb(34, 34, 34);
        line-height: 1.313;
      }

    }
  }
}

#about {
  background: url("../../images/about-bg.png");

  #about-container {
    @include container;
    padding: 120px 0 114px 0;
    position: relative;

    h2.block-title {
      text-align: center;
      color: #af6012;
    }

    #about-items-image {
      position: absolute;
      top: 399px;
      left: 207px;
      z-index: 0;
    }

    #about-items {
      margin-top: 80px;
      position: relative;

      .about-item.right {
        margin-left: auto;
      }

      .about-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 585px;
        z-index: 2;

        .about-item-text {
          font-size: 16px;
          font-family: $LatoLight;
          color: rgb(34, 34, 34);
          line-height: 1.313;
          width: 232px;
        }
      }
    }

    #about-info {
      margin: 80px auto 0 auto;
      width: 1000px;
      background-image: url("../../images/about-rolling-pin.png");
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 50px 100px;
      text-align: center;

      .about-info-text {
        font-size: 16px;
        font-family: $LatoLight;
        color: rgb(34, 34, 34);
        line-height: 1.313;
      }

      #about-info-loz {
        font-size: 18px;
        font-family: $Lato;
        color: rgb(175, 96, 18);
        margin-top: 25px;
      }
    }
  }
}

#recipe-container {
  @include container;
  position: relative;

  #recipe-bg1 {
    position: absolute;
    top: -60px;
    right: -160px;
  }

  #recipe-bg2 {
    position: absolute;
    bottom: 17px;
    left: -310px;
  }

  h2.block-title {
    color: #af6012;
    text-align: center;
    margin-top: 120px;
  }

  #recipe-items {
    margin-top: 74px;
    text-align: center;
    margin-bottom: 210px;

    .recipe-block-items {
      .recipe-item {
        display: flex;
        flex-direction: column;
        width: 575px;
        height: 270px;
        border-radius: 30px;
        overflow: hidden;
        margin: 25px auto 0 auto;

        .recipe-text {
          padding: 25px;
          font-size: 18px;
          font-family: $Lato;
          color: rgb(55, 29, 3);
          line-height: 1.333;
          text-align: center;
          background-color: #f7c35e;
        }

        .recipe-image {
          overflow: hidden;

          img {
            width: 100%;
          }

        }
      }
    }

  }
}

#follow {
  background-image: url("../../images/follow-bg.png");

  #follow-container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 104px 0;

    #follow-image {
      border-width: 1px;
      border-color: rgb(207, 193, 177);
      border-style: solid;
      border-radius: 50%;
      width: 408px;
      height: 408px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 90px;
    }

    #follow-items {
      margin-right: 100px;

      #follow-items-title {
        font-size: 24px;
        font-family: $Gabriela;
        color: rgb(175, 96, 18);
        width: 390px;
      }

      #follow-items-form {
        margin-top: 39px;
        display: flex;
        justify-content: flex-start;

        #follow-items-form-input {
          border-width: 1px;
          border-color: rgb(149, 81, 14);
          border-style: solid;
          background-color: rgb(255, 255, 255);
          width: 279px;
          border-radius: 30px;
          overflow: hidden;
          margin-right: 24px;

          input {
            border: none;
            font-size: 15px;
            font-family: $Lato;
            color: rgb(55, 29, 3);
            line-height: 55px;
            margin-left: 20px;
            width: 250px;
            outline: none;

            &::placeholder {
              font-size: 15px;
              font-family: $Lato;
              color: rgb(55, 29, 3);
              line-height: 55px;
              margin-left: 20px;
            }
          }
        }

        #follow-items-form-button {
          border-radius: 30px;

          button.btn {
            padding: 18px;
            text-align: center;
            width: 180px;
            font-size: 16px;
            font-family: $Lato;
            color: rgb(55, 29, 3);

            &:hover {
              box-shadow: 0px 2px 9px 5px rgba(110, 81, 22, 0.35);
              cursor: pointer;
            }

          }

        }
      }

      #follow-items-social {
        margin-top: 36px;
        @include social-items;

      }
    }
  }
}


#map {
  width: 100%;
  height: 500px;
}

#footer-container {
  @include container;
  padding: 60px 0 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  #footer-info {
    #footer-social {
      #footer-social-title {
        font-size: 18px;
        font-family: $Gabriela;
        color: rgb(34, 34, 34);
        margin-top: 32px;
      }

      #footer-social-items {
        @include social-items;
        margin-top: 23px;
      }
    }

    #rules {
      margin-top: 40px;
      font-size: 12px;
      font-family: $Lato;
      color: rgb(111, 111, 111);
    }
  }

  #footer-nav {
    display: flex;
    flex-direction: column;
    margin-left: 190px;

    a {
      text-decoration: none;
      font-size: 16px;
      font-family: $Lato;
      color: rgb(34, 34, 34);

      &:not(:first-child) {
        margin-top: 27px;
      }
    }
  }

  #footer-contacts {
    margin-left: 370px;

    #footer-contacts-title {
      font-size: 18px;
      font-family: $Gabriela;
      color: rgb(34, 34, 34);
    }

    .footer-contacts-item-title {
      font-size: 16px;
      font-family: $LatoLight;
      color: rgb(34, 34, 34);
      margin-bottom: 15px;
    }

    .footer-contacts-item-text {
      font-size: 14px;
      font-family: $Lato;
      color: rgb(34, 34, 34);
    }


    #footer-contacts-phone {
      margin: 40px 0;
      @include phone;
    }
  }
}

